<div class="flex bg-[#0D171F] p-4 gap-5">
  <div class="transition-all">
    <div class="flex flex-col gap-8 p-5 bg-[#151F2B] rounded-xl sticky top-0 w-[300px] basis-[300px] max-w-full h-auto">
      <div class="flex flex-col">
        <div class="w-full flex items-center justify-center">
          <a routerLink="/home" class="w-[200px] max-w-full h-32">
            <img src="/assets/images/logo.png" alt="" class="w-full h-full object-cover">
          </a>
        </div>
        <ul class="flex flex-col gap-2">
          <li class="transition-all  rounded-xl cursor-pointer" routerLink="/home"
            [routerLinkActive]="'active-link'">
            <a class="flex gap-4 items-center text-gray-400 text-lg font-medium hover:bg-[#2293FA] hover:text-white rounded-xl p-4 transition-all"><i
                class="fa-solid fa-house"></i>Trang Chủ</a>
          </li>
          <li class="transition-all rounded-xl hover:bg-[#2293FA] cursor-pointer" routerLink="/shop"
            [routerLinkActive]="'active-link'">
            <a class="flex gap-4 items-center text-gray-400 text-lg font-medium hover:bg-[#2293FA] hover:text-white rounded-xl p-4 transition-all"><i
                class="fa-solid fa-cart-shopping"></i>Cửa Hàng</a>
          </li>
          <li class="transition-all rounded-xl hover:bg-[#2293FA] cursor-pointer" routerLink="/library"
            [routerLinkActive]="'active-link'">
            <a class="flex gap-4 items-center text-gray-400 text-lg font-medium hover:bg-[#2293FA] hover:text-white rounded-xl p-4 transition-all"><i
                class="fa-solid fa-gamepad"></i>Thư Viện Của Tôi</a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-3">
        <span class="text-white text-base ">GAME NỔI BẬT</span>
        <app-listProductTrend></app-listProductTrend>
      </div>
      <a routerLink="/user/info" *ngIf="currentUser" class="mt-auto flex gap-4 p-2 items-center rounded bg-[#1C2C3B]">
        <div class="w-[40px] h-[40px]">
          <img src="./assets/images/{{currentUser.img}}" class="w-full h-full object-cover rounded-full flex-shrink-0" alt="">
        </div>
        <div class="flex flex-col gap-1">
          <span class="text-base text-white font-medium text-wrap truncate overflow-hidden max-w-36">{{currentUser.username}}</span>
          <p class="text-sm text-gray-500 font-medium">lvl. 24</p>
        </div>
        <button (click)="logout()" class="ml-auto font-medium text-1xl rounded p-2 bg-[#2993Fa]">
          <i class="fa-solid fa-right-from-bracket text-white text-xl"></i>
        </button>
      </a>
    </div>
  </div>
  <div class="flex-grow h-full">
    <app-navBarSearch></app-navBarSearch>
    <router-outlet></router-outlet>
  </div>
</div>
